{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-classes",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-transform-destructuring"]
  ]
}
